{% extends "base.html" %}
{% block content %}
    <h2>Photo {{ photo["id"] }}</h2>
    <div class="float-left">
        <div>
            <a href='/photo/{{ photo["id"]-1 }}'>&larr; Previous</a>
            <a class="float-right" href='/photo/{{ photo["id"]+1 }}'>Next &rarr;</a>
        </div>
        <img src="{{ photo_url(photo.id, 'large') }}"></img>
        <div>
            <a href='/photo/{{ photo["id"]-1 }}'>&larr; Previous</a>
            <a class="float-right" href='/photo/{{ photo["id"]+1 }}'>Next &rarr;</a>
        </div>
    </div>

    <div class="clearfix"></div>

    <br>
    <div>
    Download:
    <a href="{{ photo_url(photo.id, 'small') }}">small</a>
    | <a href="{{ photo_url(photo.id, 'medium') }}">medium</a>
    | <a href="{{ photo_url(photo.id, 'large') }}">large</a>
    | <a href="{{ photo_url(photo.id, 'original') }}">original</a>
    </div>


{% endblock %}