<!DOCTYPE html>
<html>
<head>
    <title>Klickr - Photo {{ photo["id"] }}</title>
</head>
<body>
    <h1>Klickr</h1>
    <p><a href='/'>Home</a></p>
    <h2>Photo {{ photo["id"] }}</h2>
    <a href='/photo/{{ photo["id"]-1 }}'>Previous</a>
    <a href='/photo/{{ photo["id"]+1 }}'>Next</a>
    <br/>
    <p>Download</p>
    <a href='{{  url_for('static', filename=photo["small_url"]) }}'>Small</a>
    <a href='{{  url_for('static', filename=photo["medium_url"]) }}'>Medium</a>
    <a href='{{  url_for('static', filename=photo["large_url"]) }}'>Large</a>
    <br/>
    <img src={{ url_for('static', filename=photo["original_url"]) }}></img>
</body>
</html>
