{% extends "base.html" %}
{% block content %}
    <h2>Photo {{ photo["id"] }}</h2>
    <div class="float-left">
        <div>
            <a href='/photo/{{ photo["id"]-1 }}'>&larr; Previous</a>
            <a class="float-right" href='/photo/{{ photo["id"]+1 }}'>Next &rarr;</a>
        </div>
        <img src={{ url_for('static', filename=photo["large_url"]) }}></img>
        <div>
            <a href='/photo/{{ photo["id"]-1 }}'>&larr; Previous</a>
            <a class="float-right" href='/photo/{{ photo["id"]+1 }}'>Next &rarr;</a>
        </div>
    </div>

    <div class="clearfix"></div>

    <br>
    <div>
    Download:
    <a href='{{  url_for('static', filename=photo["small_url"]) }}'>small</a>
    | <a href='{{  url_for('static', filename=photo["medium_url"]) }}'>medium</a>
    | <a href='{{  url_for('static', filename=photo["large_url"]) }}'>large</a>
    | <a href='{{  url_for('static', filename=photo["original_url"]) }}'>original</a>
    </div>


{% endblock %}